<%- include('includes/head') %>
<%- include('includes/nav'); %>

  <div class="container py-5">
    <div class="row">
      <div class="col-lg-2"></div>
      <div class="col-lg-8 my-3">
        <h1 class="h1 text-center fw-normal">Contato</h1>
        <% if(contato && contato._id) { %>
            <p class="text-light text-center"><mark class="rounded-3">Edite e salve as alterações</mark></p>
          <% } else{ %>
            <p class="text-light text-center"><mark class="rounded-3">Adicionar um novo contato</mark></p>
        <% } %>
        <%- include('./includes/messages') %>
      </div>
      <div class="col-lg-2"></div>
    </div>

    <div class="row">
      <div class="col-lg-3"></div>
      <div class="col-lg-6">
        <% if(contato && contato._id) { %>
          <form action="/contatos/edit/<%= contato._id %>" method="POST">
        <% } else{ %>
          <form action="/contatos/register" method="POST">
        <% } %>
          <input type="hidden" name="_csrf" value="<%= csrfToken %>">
          <input type="hidden" name="id" value="<% if(contato) { %><%= contato._id %><% } %>">
          <div class="mb-3 row">
            <div class="col-5">
              <label for="name" class="form-label">Nome</label>
              <input type="text" class="form-control bg-dark text-light" id="name" name="name" value="<% if(contato) { %><%= contato.name %><% } %>">
            </div>
            <div class="col-7">
              <label for="lastname" class="form-label">Sobrenome</label>
              <input type="text" class="form-control bg-dark text-light" id="lastname" name="lastname" value="<% if(contato) { %><%= contato.lastname %><% } %>">
            </div>
          </div>
          <div class="mb-3 row">
            <div class="col-7">
              <label for="email" class="form-label">E-mail</label>
              <input type="email" class="form-control bg-dark text-light" id="email" name="email" value="<% if(contato) { %><%= contato.email %><% } %>">
            </div>
            <div class="col-5">
              <label for="phonenumber" class="form-label">Telefone</label>
              <input type="tel" class="form-control bg-dark text-light" id="phonenumber" name="phonenumber" value="<% if(contato) { %><%= contato.phonenumber %><% } %>">
            </div>
          </div>
          <div class="d-flex justify-content-end gap-2">
            <a href="/" type="button" class="btn btn-dark fw-normal opacity-75 py-2" style="letter-spacing: 0.1rem;">Cancelar</a>
            <button type="submit" class="btn btn-dark bg-black fw-semibold py-2" style="letter-spacing: 0.2rem;">Salvar</button>
          </div>
        </form>
      </div>
      <div class="col-lg-3"></div>
    </div>
  </div>

<%- include('includes/footer') %>